<div class="project-list">
    <div class="search_box">
        <p>
            <center>
                find by site or location:<br />
                <input type="text" style="background-color:none; border:none" id="searchString" onkeypress="searchItemKey()" /><input type="submit" value="  " id="search" class="btnbg" />
            </center>
        </p>
    </div>
</div>
