@model PagedList.IPagedList<ExploreModel.Site>
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity;

<div id="Tarea">

    @Html.Partial("SiteBlock",Model)
   
    <div class="clear"></div>
    <div class="dc_pagination dc_paginationA dc_paginationA06" id="myPager">
        <!--Code to show current page and page number-->
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(
                        Model,
                            page => Url.Action("Index", "Sites",new
                            {
                                page,
                                currentFilter = ViewBag.CurrentFilter,
                                tagname = ViewBag.TagName
                           }),
                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
                        {                          

                        })
                    )
    </div>    
</div>


@*<script>
  
    $(function () {
        //to avoid returning this pages view while clicking page button
        $('#myPager').on('click', 'a', function () {
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#Tarea').html(result);
                }
            });
            return false;
        });
    });
</script>*@

